/* .App {
  text-align: center;
} */

.item-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  width: 75rem;
  height: 50rem;

  background: #ececec;

  overflow: scroll;
}
